@using todo_ithome.Domain.Enum;

@{
    ViewData["Title"] = "Create task";
}

<form id="createTaskForm">

    <div>
        <label>
            Name task
        </label>
        <input type="text" name="name" />
    </div>

    <select name="priority" asp-items="Html.GetEnumSelectList<Priority>()"></select>

    <div>
        <label>
            Description task
        </label>
        <textarea type="text" name="description">
        </textarea>
    </div>

    <button type="submit" id="createTask">
        Create task
    </button>

</form>

@section Scripts
{
    <script type="text/javascript">

    //dont use library sweetalert2

    //почему alert без preventDefault не работает.....
        
    $("#createTask").on("click", function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Create")',
            data: $("#createTaskForm").serialize(),
            success: function (response) {
                alert(response.description);
                /*
                Swal.fire({
                    title: "Inforamtion",
                    text: response.responseJSON.description,
                    icon: "success",
                    confirmButtonText: "Ok"
                })
                */
            },
            error: function (response) {
                alert(response.description);
                /*
                Swal.fire({
                    title: "Inforamtion",
                    text: response.responseJSON.description,
                    icon: "error",
                    confirmButtonText: "Ok"
                })
                */
            }
        });
    });

    </script>

}