@using todo_ithome.Domain.Enum;

@{
    ViewData["Title"] = "Create task";
}

<form id="createTaskForm">

    <div>
        <label>
            Name
        </label>
        <input type="text" name="name" />
    </div>

    <div>
        <label>
            Priority
        </label>
        <select name="priority" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    </div>

    <div>
        <label>
            Description
        </label>
        <textarea type="text" name="description">
        </textarea>
    </div>

    <button type="submit" id="createTask">
        Create task
    </button>

</form>

<div>
    <h3>
        Filters:
    </h3>
    <div>
        <label>
            Name
        </label>
        <input type="text" name="nameTask" />
    </div>

    <div>
        <label>
            Priority
        </label>
        <select id="prioritySearch" asp-items="Html.GetEnumSelectList<Priority>()">
        </select>
    </div>
</div>

<div>
    <table id="tableId">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Description
                </th>
                <th>
                    Ready
                </th>
                <th>
                    Task
                </th>
            </tr>
        </thead>

        <tbody>

        </tbody>

        <tfoot>

        </tfoot>

    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
        
        const swalWithButtons = Swal.mixin({
            /*
            customClass: {
                confirmButton: 'btn '
            }
            */
            buttonStyling: false
        });


        function model() {
            return {
                Name: $('input[name="nameTask"]').val(),
                priority: $('#prioritySearch option:selected').val()
            }
        };

        let taskTable = $("#tableId").DataTable({
            serverSide: true,
            searching: false,
            paging: false,
            sorting: false,
            columnDefs: [
                {
                    orderable: false,
                    _targets: "_all"
                }
            ],
            ajax: {
                url: '@Url.Action("TaskHandler")',
                method: "POST",
                data: model
            },
            columns: [
                { data: "name" },
                { data: "priority" },
                { data: "description" },
                { data: "isDone" },
                {
                    data: null,
                    sortable: false,
                    render: function (data, type) {
                        return "<button>Execute</button>"
                    }
                }
            ],
            createdRow: function (nRow, data) {
                var handlerEdit = function () {
                    //open modal window
                    openModal({
                        url: '@Url.Action("GetTask")',
                        data: data.id
                    })
                } 

                var handlerComplete = function () {
                    swalWithButtons.fire({
                        title: "You are ready?",
                        icon: "warning",
                        confirmButtonText: "Yes",
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("EndTask")',
                                data: { id: data.id },
                                success: function (response) {
                                    Swal.fire({
                                        title: "Inforamtion",
                                        text: response.description,
                                        icon: "success",
                                        confirmButtonText: "Ok"
                                    })
                                    taskTable.draw();

                                },
                                error: function (response) {
                                    Swal.fire({
                                        title: "Inforamtion",
                                        text: response.responseJSON.description, //почему тут в JSON, а выше нет
                                        icon: "error",
                                        confirmButtonText: "Ok"
                                    })

                                }
                            })
                        }
                    })
                }

                for (var i = 0; i < taskTable.columns().header().length - 1; i++) {
                    if (data.isDone === "Ready") {
                        $("td", nRow).eq(i).css("cursor", "pointer");
                    }
                    else {
                        $("td", nRow).eq(i).css("cursor", "pointer");
                    }

                    $("td", nRow).eq(i).on("click", handlerEdit);
                }
                $("td button", nRow).on("click", handlerComplete);
            }
        });
    
        
        $("#createTask").on("click", function (e) {
            //почему alert без preventDefault не работает.....
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create")',
                data: $("#createTaskForm").serialize(),
                success: function (response) {
                    //alert(response.description);
                
                    Swal.fire({
                        title: "Inforamtion",
                        text: response.description,
                        icon: "success",
                        confirmButtonText: "Ok"
                    })
                
                },
                error: function (response) {
                    //alert(response.description);
                
                    Swal.fire({
                        title: "Inforamtion",
                        text: response.responseJSON.description,
                        icon: "error",
                        confirmButtonText: "Ok"
                    })
                
                }
            });
        });

        $('input[name="nameTask"]').on('change', function () {
            taskTable.draw();
        });

        $('#prioritySearch').on('change', function () {
            taskTable.draw();
        });

    </script>

}